---
import { default as Layout } from "@/atom/layouts/non-auth-layout.astro";
---

<Layout title="大阪公立大学合氣道部 - リンク集">
    <h1 class="block-color-orange_background">リンク集</h1>
    <ul>
        <li>
            <a href="https://amenotakemusu.jimdofree.com"
                ><strong>天之武産塾合氣道々場</strong></a
            >
            <p>
                私たちの師範であられる阿部豊雲先生の道場のホームページです。稽古や合宿など、平素からお世話になっています。
            </p>
        </li>
        <li>
            <a
                href="https://sites.google.com/d/1khvnFJlcWq6DcNKcbMNkIfU_P3bg05Ib/p/1cMfR67YzBZqPCjk49fjMC3qLl-v5yJOx/edit"
                ><strong>大阪市立大学合氣道サークル</strong></a
            >
        </li>
    </ul>
    <h3><strong>OBさんのHP</strong></h3>
    <ul>
        <li>
            <a href="https://aikido-shokikan.jimdofree.com/"
                ><strong>祥氣館</strong></a
            >
            <p>
                大阪府立大学合氣道部のOBであり、祥氣館という道場を開かれた小野健次先輩のページです。
            </p>
        </li>
        <li>
            <a href="http://www.osaka-cu-aikido.com/"
                ><strong>大阪市立大学合氣道部</strong></a
            >
            <p>
                大阪市立合氣道部のホームページです。市大合氣道サークルとは別団体ですが、同門の団体でした。
            </p>
        </li>
        <li>
            <a href="https://seesaawiki.jp/w/fudaiaiki/"
                ><strong>大阪府立大学合氣道部</strong></a
            >
            <p>大阪府立大学合氣道部のホームページです。</p>
        </li>
    </ul>
    <h3><strong>大学合氣道部</strong></h3>
    <ul>
        <li>
            <a href="http://www.aitu-shin.net/"
                ><strong>京都大学天之武産合氣道同好会</strong></a
            >
        </li>
        <li>
            <a href="https://kpuaikih20.wixsite.com/nakaragi"
                ><strong>京都府立大学合氣道部</strong></a
            >
        </li>
        <li>
            <a href="https://twitter.com/nmuaikido"
                ><strong>奈良県立医科大学合氣道部</strong></a
            >
        </li>
        <li>
            <a href="https://kitaiki.jimdofree.com/"
                ><strong>京都工芸繊維大学合氣道部</strong></a
            >
        </li>
        <li>
            <a href="https://twitter.com/joshiaiki"
                ><strong>大阪府立大学女子合気道部</strong></a
            >（現・大阪公立大学女子合気道部）
        </li>
    </ul>
    <h3>その他</h3>
    <ul>
        <li>興味のある方はどうぞ。</li>
        <li>
            <a
                href="https://www.omu.ac.jp/campus-life/activities/list/new-aikido/"
                ><strong>大阪公立大学 部活動情報</strong></a
            >
        </li>
        <li>
            <a href="https://welcome.omu-zichikai.jp/club/aikido-2/"
                ><strong>大阪公立大学自治会 部活動紹介ページ</strong></a
            >
        </li>
    </ul>
</Layout>
<style>
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 1.5rem;
    }

    li > a {
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    li > p {
        padding-left: 2rem;
        color: rgb(var(--subtext1));
        font-style: italic;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 1.75rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
</style>
