---
import { default as Layout } from "../../layouts/non-auth-layout.astro";
import PlaceHolder from "../../components/ui/place-holder.astro";
---

<Layout title="大阪公立大学合氣道部 - 合気道とは">
    <h1 class="block-color-orange_background">合気道とは</h1>
    <p>合氣道は古武術の流れをくむ武道の一つです。</p>

    <p>
        本来他人と勝敗を競ったり、力比べをしたりすることを目的としない武道であり、試合や競技を行いません。
    </p>

    <blockquote>
        <p>
            合気道は、開祖・植芝盛平翁(1883～1969)が日本伝統武術の奥義を究め、さらに厳しい精神的修行を経て創始した現代武道です。合気道は相手といたずらに強弱を競いません。入身と転換の体捌きと呼吸力から生まれる技によって、お互いに切磋琢磨し合って稽古を積み重ね、心身の錬成を図るのを目的としています。また、合気道は他人と優劣を競うことをしないため、試合や競技を行いません
        </p>
        <p>
            引用元　<a href="http://www.aikikai.or.jp/index.html"
                >http://www.aikikai.or.jp/index.html</a
            >
        </p>
    </blockquote>

    <h3>級位・段位</h3>
    <p>
        合氣道部の活動を通じて取得できる級位、段位は、合気道の最大流派である合気会のものとなります。これは全世界どこででも通用するので、就活から青年海外協力隊まで幅広く活動できます。合気会の系列で杉本、中百舌鳥で活動しているのは、当合氣道部のみになります。
    </p>

    <h3>所属道場</h3>
    <p>
        吹田市の合気会公認道場である，天之武産合氣塾道場にお世話になり、指導していただいています。天之武産合氣塾道場については以下の公式サイトもご覧ください。
    </p>
    <p>
        <a href="https://amenotakemusu.jimdofree.com/">天之武産塾合気道道場</a>
    </p>
    <p>
        また、<a href="/about/links">リンク集</a
        >ではその他の親交がある団体様などについても紹介しています。ぜひごらんください。
    </p>
    <hr />
    <h2>活動</h2>
    <h3>団体等基本情報</h3>
    <h4>団体名称</h4>
    <p>大阪公立大学合氣道部</p>
    <h4>団体種別</h4>
    <p>公認団体</p>
    <h4>活動ジャンル</h4>
    <p>武道／スポーツ</p>
    <h4>構成員数</h4>
    <p>
        18名（１年生：9名、２年生：5名、３年生：0名、４年生：4名、大学院生：0名）うちマネージャー
        0名 ※2024年6月現在
    </p>
    <h4>引退時期</h4>
    <p>なし *3月に幹部交代を行うが、交代後も部活参加可能</p>
    <h4>部費</h4>
    <p>6ヶ月5千円</p>
    <h4>部費以外の負担</h4>
    <p>
        合宿費（部会計、OB会、体育会からの補助に応じて減免あり）遠征費（交通費、イベント参加費（1500円〜）など）
    </p>
    <h4>２年生以上の受入</h4>
    <p>歓迎。</p>
    <h4>兼部・兼サー</h4>
    <p>
        可能です。白鷺祭実行委員会、中百舌鳥新歓実行委員会などに参加している部員もいます。兼部・兼サーをして、予定が合わない場合は無理に合氣道の稽古に参加しなくても構いません。
    </p>
    <h4>バイトとの両立</h4>
    <p>可能です。</p>
    <h4>入部可能時期</h4>
    <p>通年可能</p>
    <h4>入部方法</h4>
    <p>
        連絡フォーム、X(旧Twitter)またはInstagramのDM/飛び込み参加にて、稽古の見学・体験を受け付けております。
    </p>
    <h3>年間行事予定</h3>
    <table>
        <tr><th>４月</th><td>ふたば祭教室企画出店</td></tr>
        <tr><th>５月</th><td>—</td></tr>
        <tr><th>６月</th><td>合気道フェスティバル</td></tr>
        <tr><th>７月</th><td>都立大戦</td></tr>
        <tr><th>８月</th><td>道場特別稽古</td></tr>
        <tr><th>９月</th><td>合宿</td></tr>
        <tr><th>10月</th><td>旧三商大合同稽古</td></tr>
        <tr><th>11月</th><td>六公立大戦、白鷺祭模擬店出店</td></tr>
        <tr><th>12月</th><td>吹田市合氣道演武大会</td></tr>
        <tr><th>１月</th><td>—</td></tr>
        <tr><th>２月</th><td>—</td></tr>
        <tr><th>３月</th><td>道場特別稽古</td></tr>
    </table>
</Layout>
