---
import Modal from "./modal.astro";
import ThemeToggle from "./ThemeToggle.astro";
const signInStatus = Astro.locals.session ? true : false;
---

<Modal position="right" icon="  ⵗ  ">
    <div class="account_prof">
        <div class="account_prof_name, link">
            {
                signInStatus ? (
                    <a href="/account">{Astro.locals.user?.name} さん</a>
                ) : (
                    "ログインしていません"
                )
            }
        </div>
        {
            signInStatus ? (
                <div>
                    最終ログイン:
                    {new Date(
                        `${Astro.locals.session?.updatedAt}`
                    ).toLocaleString("ja-JP", {
                        timeZone: "Asia/Tokyo",
                        year: "numeric",
                        month: "numeric",
                        day: "numeric",
                        hour: "numeric",
                        minute: "numeric",
                    })}
                </div>
            ) : (
                ""
            )
        }

        <hr />

        {
            signInStatus ? (
                <div class="link">
                    <a href="/app">きろくアプリ</a>
                </div>
                <hr />
            ) : (
                ""
            )
        }

        <div class="account_button, link">
            {
                signInStatus ? (
                    <a href={`/signout?from=${Astro.url.pathname}`}>
                        サインアウト
                    </a>
                ) : (
                    <a href={`/signin?from=${Astro.url.pathname}`}>ログイン</a>
                )
            }
        </div>

        <hr />
        <div
            style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; align-content: center;"
        >
            <span>ダークモード</span>
            <ThemeToggle />
        </div>
    </div>
</Modal>

<style>
    a,
    p,
    span {
        user-select: none;
    }
    .account_prof{
        margin: 0;
        padding: 0;
    }

    .account_prof_name {
        border-radius: 8px;
        user-select: none;
    }

    .account_prof_name span {
        font-weight: bold;
    }

    div {
        padding: 0.5rem;
        border-radius: 8px;
        user-select: none;
        cursor: pointer;
        margin-bottom: 1rem;
    }
    div a {
        border: none;
        background-color: transparent;
        color: rgb(var(--text));
        transition: all 0.2s ease;
        margin: 0;
        padding: 0;
        display: block; /* Make the link a block element */
        width: 100%; /* Ensure it takes the full width */
        user-select: none;
    }

    div .link:hover {
        background-color: rgb(var(--overlay0) / 0.6);
        cursor: pointer;
    }

    div p {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        padding: 0.2rem;
        border-radius: 8px;
    }
</style>
