---
import { default as Layout } from "@/atom/layouts/non-auth-layout.astro";
---

<Layout title="大阪公立大学合氣道部 - 稽古場所">
    <h1>稽古場所</h1>
    <h3>中百舌鳥キャンパス</h3>
    <h4>体育館1階・武道場</h4>
    <div class="map">
        <div class="iframe-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d397.3430397985925!2d135.5079877652318!3d34.54625048292778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000dbcc4b8d0ddd%3A0x74010ebd35722f16!2z44CSNTk5LTgyMzEg5aSn6Ziq5bqc5aC65biC5Lit5Yy65a2m5ZyS55S677yRIEMy5qOfICjkvZPogrLppKgp!5e0!3m2!1sja!2sjp!4v1735826369857!5m2!1sja!2sjp"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"></iframe>
        </div>
    </div>
    <div class="map">
        <h3>杉本キャンパス</h3>
        <h4>第二体育館南・新武道場</h4>
        <div class="iframe-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d205.279790893043!2d135.50839328817298!3d34.5921065795498!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000dc1300eaceed%3A0xaadb891609ab1fc4!2z44CSNTU4LTAwMjIg5aSn6Ziq5bqc5aSn6Ziq5biC5L2P5ZCJ5Yy65p2J5pys77yT5LiB55uu77yT4oiS77yR77yT77yYIOaWsOatpumBk-WgtA!5e0!3m2!1sja!2sjp!4v1735826406691!5m2!1sja!2sjp"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"></iframe>
        </div>
    </div>
</Layout>

<style>
    iframe {
        height: 512px;
        width: 720px;
        border: 0;
        border-radius: 1rem;
    }

    .iframe-container {
        background: linear-gradient(
                to right,
                rgb(var(--surface0) / 0.7),
                rgb(var(--surface1) / 0.7)
            )
            0% center/200%;
        animation: box_color 7s linear infinite;
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        transition: transform 0.3s ease;
        position: relative;
        z-index: 1;
        margin: 0 auto;
    }

    @media (max-width: 815px) {
        iframe {
            width: 100%;
        }
    }
</style>
